<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div data-role="tabstrip">
                    <ul>
                        <li class="k-state-active">Forms</li>
                        <li> Fields </li>
                        <li> Wrappers </li>
                        <li> Workflows </li>
                        <li> Tasks </li>
                        <li> Data Sources </li>
                        <li> Projects </li>
                        <li> Users </li>
                        <li> Groups </li>
                    </ul>
                    <div class="k-state-active"><div id="forms-wrapper"></div></div>
                    <div><div id='fields-wrapper'></div></div>
                    <div><div id='wrappers-wrapper'></div></div>
                    <div><div id='workflows-wrapper'></div></div>
                    <div><div id='tasks-wrapper'></div></div>
                    <div><div id='datasources-wrapper'></div></div>
                    <div><div id='projects-wrapper'></div></div>
                    <div><div id='users-wrapper'></div></div>
                    <div><div id='groups-wrapper'></div></div>
                </div>
            </div>
        </div>
    </div>
</div>